Repository psychosisinteractive/vitalityx, changes with the labels that .github/labeler.yml gives for each.
All labels: vx, bootloader, kernel, libc, vitalitylibc, drivers

.github/labeler.yml:

vx:
  - ./*

bootloader:
  - bootloader/*
  - bootloader/**/*

kernel:
  - kernel/*
  - kernel/**/*

libc:
  - libc/*

vitalitylibc:
  - libc/vitality/*

drivers:
  - drivers/*

deploy: a37f898fd19883e3e8b2d9891952bfe0ce6b1ff5
  html/a00002_source.html
  html/a00092.html
  html/a00092_a4b4233daef6e041e7278cae2b21b5ed4.html
  html/a00092_a700e3ca056bf69296370f504f2cb6cc8.html
  html/a00092_abd1fa375737cd5ecd84c082738e3b195.html
  html/a00092_source.html
  html/a00095.html
  html/a00095_a4b4233daef6e041e7278cae2b21b5ed4.html
  html/a00095_a700e3ca056bf69296370f504f2cb6cc8.html
  html/a00095_adf58dbaf6139b4957c348711f2026957.html
  html/a00095_source.html
  html/a00278.html
  html/globals_func_s.html
  html/globals_s.html
  html/index.hhc
  html/index.hhk
  html/index.hhp
  latex/a00092.tex
  latex/a00095.tex
  latex/a00278.tex
Labels: none

fix make.yml
  .github/workflows/make.yml
Labels: none

still trying to fix make.yml
  .github/workflows/make.yml
  Makefile
Labels: vx

need help fixing the keyboard interrupt
  .github/workflows/make.yml
  Makefile
  bootloader/boot.asm
  bx_enh_dbg.ini
  kernel/kentry.asm
  kernel/kernel.c
  libc/interrupt.c
  libc/isr.c
  libc/vitality/fs.c
  libc/vitality/tty.c
Labels: vx, bootloader, kernel, libc, vitalitylibc

make.yml hotfix
  .github/workflows/make.yml
Labels: none

updates, look for yourself
  LINKER.ld
  Makefile
  bx_enh_dbg.ini
  docs/SOFTINT.md
  docs/VAM.md
  docs/VEP.md
  docs/VLIB.md
  drivers/bios32.c
  drivers/bios32.h
  drivers/vga.c
  drivers/vga.h
  kernel/libasm/v086.asm
  kernel/libasm/vga.asm
  libc/gdt.c
  libc/gdt.h
  libc/isr.c
  libc/system.c
  libc/vitality/tty.c
  libc/vitality/vep.h
  libc/vitality/virtual8086.h
Labels: vx, kernel, libc, vitalitylibc, drivers

revise vlib
  docs/VLIB.md
  libc/isr.c
  libc/vitality/vlib.c
  libc/vitality/vlib.h
Labels: libc, vitalitylibc

adding custom fs impl, memory alloc
  .github/workflows/make.yml
  Makefile
  README.md
  drivers/keyboard.c
  drivers/keyboard.h
  drivers/serial.c
  drivers/serial.h
  drivers/vga.h
  kernel/kernel.c
  libc/interrupt.c
  libc/isr.h
  libc/system.c
  libc/types.c
  libc/types.h
  libc/vitality/fs.c
  libc/vitality/fs.h
  libc/vitality/fs_implementations/README.md
  libc/vitality/fs_implementations/fat.c
  libc/vitality/fs_implementations/fat.h
  libc/vitality/fs_implementations/fat.o
  libc/vitality/fs_implementations/impl.h
  libc/vitality/mem.c
  libc/vitality/mem.h
  libc/vitality/tty.c
  libc/vitality/tty.h
Labels: vx, kernel, libc, vitalitylibc, drivers

trying to add a releaser
  .github/workflows/releaser.yml
  .gitignore
  README.md
  libc/vitality/fs_implementations/fat.o
Labels: vx

deploy: abeb678cf756b1739e1901dc302bffb23f23b4a5
  html/a00002_source.html
  html/a00338.html
  latex/a00338.tex
Labels: none

uuugh
  .github/workflows/releaser.yml
  README.md
  docs/ABOUT.md
Labels: vx

deploy: d850b420afcff96413377901bd104831f13ead19
  ABOUT.md
  html/a00002_source.html
  html/a00005_source.html
  html/a00338.html
  html/index.html
  latex/a00338.tex
  latex/index.tex
Labels: vx

fd8jga890rj09ekj90ha5h9tgbgE
  .github/workflows/releaser.yml
Labels: none

gfakjn0aetj90begk90btahtay5
  .github/workflows/releaser.yml
Labels: none

ewra43431111111111111111req
  .github/workflows/releaser.yml
Labels: none

starting work on modem networkin as a side project
  .github/workflows/releaser.yml
  drivers/modem.c
  drivers/modem.h
  drivers/serial.c
  drivers/serial.h
  kernel/kernel.c
  libc/vitality/tty.c
  libc/vitality/tty.h
Labels: kernel, vitalitylibc, drivers

adding a monitor
  bx_enh_dbg.ini
  drivers/keyboard.c
  drivers/modem.h
  kernel/kernel.c
  libc/interrupt.c
  libc/isr.c
  libc/page.c
  libc/string.c
  libc/string.h
  libc/vitality/fs.c
  libc/vitality/mon.c
  libc/vitality/mon.h
  libc/vitality/tty.c
Labels: vx, kernel, libc, vitalitylibc, drivers

still trying to fix it
  .github/workflows/releaser.yml
Labels: none

itll just tag
  .github/workflows/releaser.yml
Labels: none

we dont even need it!
  .github/workflows/releaser.yml
  README.md
  docs/ABOUT.md
Labels: vx

deploy: 551036d8a822c58b8fb2a3d9fd80f9c74fe07cef
  ABOUT.md
  html/a00002_source.html
  html/a00005_source.html
  html/a00350.html
  html/index.html
  latex/a00350.tex
  latex/index.tex
Labels: vx

beautifiing doxygen maybe?
  .github/workflows/doxygen.yml
  Doxyfile
  docs/DoxygenLayout.xml
  docs/customdoxygen.css
  docs/index.html
Labels: vx

Clean up README, somewhat
  README.md
Labels: vx

Update README.md
  README.md
Labels: vx

deploy: 8168b731917a07f0742004c2e40a528d3f3e1198
  html/a00002_source.html
  html/a00350.html
  html/index.hhc
  latex.zip
  latex/a00350.tex
Labels: vx

deploy: 21ff71dd3b57e23d1b758ae96839ef085a728fc9
  html/a00002_source.html
  html/a00350.html
  latex.zip
  latex/a00350.tex
Labels: vx

still shaky ground with fs, but working better
  .github/workflows/doxygen.yml
  bochsrc
  bootloader/boot.asm
  bootloader/gdt.asm
  bx_enh_dbg.ini
  kernel/kentry.asm
  kernel/kernel.c
  libc/system.h
  libc/vitality/fs.c
  libc/vitality/fs.h
  libc/vitality/fs_implementations/impl.h
  libc/vitality/vfs.h
  libc/vitality/vxbfs.c
  libc/vitality/vxbfs.h
Labels: vx, bootloader, kernel, libc, vitalitylibc

strcmp, changed findfile
  kernel/kernel.c
  libc/string.c
  libc/string.h
  libc/vitality/fs.c
  libc/vitality/fs.h
  libc/vitality/vfs.h
Labels: kernel, libc, vitalitylibc

FAT detector fully wrote, unsure if working
  LINKER.ld
  README.md
  bochsrc
  bootloader/boot.asm
  bx_enh_dbg.ini
  kernel/kentry.asm
  kernel/kernel.c
  libc/isr.c
  libc/vitality/fs.c
  libc/vitality/fs_implementations/impl.h
  libc/vitality/vfs.h
  libc/vitality/vxbfs.c
Labels: vx, bootloader, kernel, libc, vitalitylibc

taking a break, fdd doesnt load enough
  bootloader/boot.asm
  bx_enh_dbg.ini
  drivers/fdrive.c
  drivers/fdrive.h
  kernel/kernel.c
Labels: vx, bootloader, kernel, drivers

deploy: 2a6d48d9f08d1f621d31ad04c4ff2b3f0e9c7e81
  latex.zip
Labels: vx

changing i686 to i386
  Makefile
Labels: vx
